<h2>About Us</h2>
<p class="about-us__description">
  Born from over a decade of experience within the entertainment, fashion and
  music industry, IMAGE is a Talent and Brand Management company, formed to take
  our clients to their desired position and beyond to create something that
  endures beyond the moment.
</p>

<p>
  IMAGE has a fresh, creative and solid approach, working one to one with our
  talent and brands across all elements of public image and profile, ensuring
  our clients are seen as the leaders of their pack.
</p>

<p>
  IMAGE has an “anything is possible” attitude and a truly unique wealth of
  experience and contacts that all clients benefit from.
</p>

<p>We love what we do and for whom we choose to do it for!</p>
