<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Image Media</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about"
          >About</a
        >
      </li>
      <li class="nav-item">
        <app-login></app-login>
      </li>
    </ul>
  </div>
</nav>
<div
  style="height: 80vh"
  class="mdl-layout mdl-js-layout mdl-layout--fixed-header overflow-auto"
>
  <main class="mdl-layout__content">
    <section>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  Copyright ©2021 Image Media company
</nav>
